/* Styles */
@import 'https://fonts.googleapis.com/css?family=Arimo:400,400i,700&subset=greek';
@import 'https://fonts.googleapis.com/css?family=Archivo+Narrow:400,700';
body {margin-top:0; font-family:'Arimo', sans-serif; background-color:#fff; font-size:13px;}
#wrapper {padding-left:0;}
#page-wrapper {width:100%; padding:0; background-color:#fff;}
.huge {font-size:50px; line-height:normal;}
/* Top Navigation */
.top-nav {padding:0 15px;}
.top-nav>li {display:inline-block; float:left;}
.top-nav>li>a {padding-top:18px; padding-bottom:18px; line-height:22px; color:#999;}
.top-nav>li>a:hover, .top-nav>li>a:focus, .top-nav>.open>a, .top-nav>.open>a:hover, .top-nav>.open>a:focus {color:#fff; background-color:#000;}
.top-nav>.open>.dropdown-menu {float:left; position:absolute; margin-top:0; border:1px solid rgba(0,0,0,.15); border-top-left-radius:0;
border-top-right-radius:0; background-color:#fff; -webkit-box-shadow:0 6px 12px rgba(0,0,0,.175); box-shadow:0 6px 12px rgba(0,0,0,.175);}
.top-nav>.open>.dropdown-menu>li>a {white-space:normal;}
ul.message-dropdown {padding:0; max-height:250px; overflow-x:hidden; overflow-y:auto;}
li.message-preview {width:275px; border-bottom:1px solid rgba(0,0,0,.15);}
li.message-preview>a {padding-top:15px; padding-bottom:15px;}
li.message-footer {margin:5px 0;}
ul.alert-dropdown {width:200px;}
/* Flot Chart Containers */
.flot-chart {display:block; height:400px;}
.flot-chart-content {width:100%; height:100%;}
/* Custom Colored Panels */
.huge {font-size:40px;}
.panel-green {border-color:#5cb85c;}
.panel-green > .panel-heading {border-color:#5cb85c; color:#fff; background-color:#5cb85c;}
.panel-green > a {color:#5cb85c;}
.panel-green > a:hover {color:#3d8b3d;}
.panel-red {border-color:#d9534f;}
.panel-red > .panel-heading {border-color:#d9534f; color:#fff; background-color:#d9534f;}
.panel-red > a {color:#d9534f;}
.panel-red > a:hover {color:#b52b27;}
.panel-yellow {border-color:#f0ad4e;}
.panel-yellow > .panel-heading {border-color:#f0ad4e; color:#fff; background-color:#f0ad4e;}
.panel-yellow > a {color:#f0ad4e;}
.panel-yellow > a:hover {color:#df8a13;}


/*--------------login-screen-start-----------------*/
.screen-login {position:fixed; top:0; left:0; right:0; width:100%; height:100%; background:url(../img/bg.jpg) no-repeat top center; 
-webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover; background-size:cover;}
.screen-login .login-form {background-color:rgba(0,0,0, 0.6); width:32%; margin:9% auto 4% auto; position:relative; font-family:'Archivo Narrow', sans-serif;}
.screen-login .head {position:absolute; top:-15%; left:0; right:0; text-align:center;}
.screen-login .head img {border-radius:50%; -webkit-border-radius:50%; -o-border-radius:50%; -moz-border-radius:50%; border:6px solid rgba(241, 96, 27, 0.6);}
.screen-login form {padding:22% 2.5em 12% 2.5em;}
.screen-login .copy-right {text-align:center;}
.screen-login .copy-right p {color:#fff; font-size:14px; font-weight:normal;}
.screen-login .copy-right p a {font-size:1em; color:#FF8E03; -webkit-transition:all 0.3s ease-out; -moz-transition:all 0.3s ease-out; -ms-transition:all 0.3s ease-out;
-o-transition:all 0.3s ease-out; transition:all 0.3s ease-out;}
.screen-login .copy-right p a:hover {color:#fff;}
.card .input-container {position:relative; margin-bottom:26px;}
.card .input-container input {outline:none; z-index:1; position:relative; background:none; width:100%; height:54px; border:0; color:#fff;
font-size:19px; font-weight:400;}
.card .input-container input:focus ~ label {color:#fff; -webkit-transform:translate(-12%, -50%) scale(0.75); transform:translate(-12%, -50%) scale(0.75);}
.card .input-container input:focus ~ .bar:before, .card .input-container input:focus ~ .bar:after {width:50%;}
.card .input-container input:valid ~ label {color:#009900; -webkit-transform: translate(-12%, -50%) scale(0.75); transform:translate(-12%, -50%) scale(0.75);}
.card .input-container label {position:absolute; top:0; left:0; color:#dedede; font-size:19px; font-weight:300; line-height:60px;
-webkit-transition:0.2s ease; transition:0.2s ease;}
.card .input-container .bar {position:absolute; left:0; bottom:0; background:#dedede; width:100%; height:1px;}
.card .input-container .bar:before, .card .input-container .bar:after {content:''; position:absolute; background:#f1601b; width:0;
height:2px; -webkit-transition:.2s ease; transition:.2s ease;}
.card .input-container .bar:before {left:50%;}
.card .input-container .bar:after {right:50%;}
@-webkit-keyframes buttonFadeInUp {0% {bottom:30px; opacity:0;}}
@keyframes buttonFadeInUp {0% {bottom:30px; opacity:0;}}
.login-form a {font-weight:200; letter-spacing:1px; color:#CCC;}
.login-form a:hover {text-decoration:none;}
.login-form .remember-me label {color:#ccc; font-weight:200; letter-spacing:1px;}
.login-form .btn-top {margin-top:29px;}
.login-form .btn-top .btn-orange {width:100%; border-radius:0; border-bottom:6px solid #f1651d; font-size:19px; outline:none; text-transform:uppercase; 
background:#f5822d; color:#fff;}
.login-form .btn-top .btn-orange:hover {background:#f1651d; border-bottom:6px solid #f5822d;}

.panel-body {padding:9px;}


/*--------------inner-header-area-start-----------------*/
header .navbar-brand {height:58px; padding:19px 15px; line-height:22px;}
header .inner-top {padding:0;}
header .navbar-inverse {background:#f1651d;}
header .navbar-inverse .navbar-brand, header .navbar-inverse a {color:#fff;}
header .dropdown-menu>li>a {color:#000; font-family:'Archivo Narrow', sans-serif;}
header ul.navbar-nav {width:100%; background:none; text-align:center; padding:4px 0;}
header .navbar-inverse .navbar-nav>li {float:none; display:inline-block;}
header .top-nav {background:#d44900;}
header .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {background:none; color:#000;}
header .inner-top .top-nav>li>a:hover, .top-nav>li>a:focus, .top-nav>.open>a, .top-nav>.open>a:hover, .top-nav>.open>a:focus {background:none;}
header .inner-top .top-nav>.open>.dropdown-menu>li>a {color:#000;}
header .navbar-inverse .navbar-nav>li>a {font-family:'Archivo Narrow', sans-serif; font-size:15px; letter-spacing:0.2px; color:#fff; background:none; 
padding-left:9px; padding-right:9px;}
header .navbar-inverse .navbar-nav>li>a:hover {color:#000;}
header .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {color:#000; background:none;}
header .paddLR0 {padding-left:0; padding-right:0;}

/*--------------inner-body-area-start-----------------*/
.inner-body-area {margin-top:79px;}
.inner-body-area .title-top {margin-top:49px;} 
.inner-body-area .title-top .page-header {font-family:'Archivo Narrow', sans-serif;}
.inner-body-area .page-header h1 {margin-top:0;}
.inner-body-area .page-header .btn {float:right; width:112px; font-size:16px; border-radius:0; letter-spacing:1px;}
.inner-body-area .title-top .page-header small {font-size:59%;}
.custome-table .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {font-family:'Archivo Narrow', sans-serif;}
.custome-table table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, 
table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting {font-size:16px;}
.custome-table .tab-btn {color:#fff; background:#333; text-decoration:none; line-height:normal; text-align:center;
 padding:9px 2px; font-size:9.5px; display:inline-block; width:32%; margin-bottom:3px; letter-spacing:0.2px;}
.custome-table .tab-btn:hover {text-decoration:none; background:#000;}
.custome-table .last-width {width:269px;}
.custome-table .last-width1 {width:196px;}
.custome-table .last-width2 {width:229px;}
.custome-table .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {vertical-align:middle;}
.custome-table .cancel-btn {background:#C00;}

.right-small .btn {border-radius:0; outline:0; padding-left:6px; padding-right:6px; float:right; }
.right-small .btn-success:hover {background:#5cb85c; border-color:#5cb85c;}
.right-small .btn-info:hover {background:#5bc0de; border-color:#5bc0de;}
.right-small .btn-danger:hover {background:#d9534f; border-color:#d9534f;}

/* Custome Dropdown Start */
.shorting-area .btn-select {position:relative; padding:0; min-width:100%; width:100%; border-radius:0; margin-bottom:20px;}
.shorting-area .btn-select .btn-select-value {padding:5px 12px; display:block; position:absolute; left:0; right:34px; text-align:left; text-overflow:ellipsis;
overflow:hidden; border-top:none !important; border-bottom: none !important; border-left:none !important;}
.shorting-area .btn-select .btn-select-arrow {float:right; line-height:20px; padding:6px 10px; top:0; color:#f58045;}
.shorting-area .btn-select ul {display:none; background-color:white; color:black; clear:both; list-style:none; padding:0; margin:0; border-top:none !important;
position:absolute; left:-1px; right:-1px; top:33px; z-index:999;}
.shorting-area .btn-select ul li {padding:3px 6px; text-align:left;}
.shorting-area .btn-select ul li:hover {background-color:#f4f4f4;}
.shorting-area .btn-select ul li.selected {color:white;}
.btn-select.btn-default:hover, .shorting-area .btn-select.btn-default:active, .shorting-area .btn-select.btn-default.active {border-color:#ccc;}
.shorting-area .btn-select.btn-default ul li.selected {background-color:#ccc;}
.shorting-area .btn-select.btn-default ul, .shorting-area .btn-select.btn-default .btn-select-value {background-color:white; border:#ccc 1px solid;}
.shorting-area .btn-select.btn-default:hover, .shorting-area .btn-select.btn-default.active {background-color:#e6e6e6;}

.filter-area .btn-select {position:relative; padding:0; min-width:100%; width:100%; border-radius:0; margin-bottom:0px; float:left;}
.filter-area .btn-select .btn-select-value {padding:6px 12px; font-size:14px; display:block; position:absolute; left:0; right:34px; text-align:left; text-overflow:ellipsis;
overflow:hidden; border-top:none !important; border-bottom: none !important; border-left:none !important;}
.filter-area .btn-select .btn-select-arrow {float:right; line-height:20px; font-size:14px; background:#fff; padding:6px 10px; top:0; color:#f58045;}
.filter-area .btn-select ul {display:none; background-color:white; color:black; clear:both; list-style:none; padding:0; margin:0; border-top:none !important;
position:absolute; left:-1px; right:-1px; top:33px; z-index:999;}
.filter-area .btn-select ul li {padding:3px 6px; text-align:left; font-size:14px;}
.filter-area .btn-select ul li:hover {background-color:#f4f4f4;}
.filter-area .btn-select ul li.selected {color:white;}
.btn-select.btn-default:hover, .filter-area .btn-select.btn-default:active, .filter-area .btn-select.btn-default.active {border-color:#ccc;}
.filter-area .btn-select.btn-default ul li.selected {background-color:#f1651d;}
.filter-area .btn-select.btn-default ul, .filter-area .btn-select.btn-default .btn-select-value {background-color:white; border:#ccc 1px solid; color:#000;}
.filter-area .btn-select.btn-default:hover, .filter-area .btn-select.btn-default.active {background-color:#e6e6e6;}
/* Custome Dropdown End */
.shorting-area h5 {font-family:'Archivo Narrow', sans-serif; font-weight:bold; letter-spacing:0.6px}
.custome-table .pagination {margin:0;}
.custome-table .table>caption+thead>tr:first-child>td, .custome-table .table>caption+thead>tr:first-child>th, 
.custome-table .table>colgroup+thead>tr:first-child>td, .custome-table .table>colgroup+thead>tr:first-child>th, 
.custome-table .table>thead:first-child>tr:first-child>td, .custome-table .table>thead:first-child>tr:first-child>th {background:#f1651d; color:#fff; letter-spacing:0.6px; padding-top:6px; padding-bottom:6px; border-color:#ff9762; font-weight:200;}
.custome-table .table>tbody>tr>td, .custome-table .table>tbody>tr>th, .custome-table .table>tfoot>tr>td, .custome-table .table>tfoot>tr>th, 
.custome-table .table>thead>tr>td, .table>thead>tr>th {padding:5px 6px;}
.custome-table .pagination>.active>a, .custome-table .pagination>.active>a:focus, .custome-table .pagination>.active>a:hover, 
.custome-table .pagination>.active>span, .custome-table .pagination>.active>span:focus, 
.custome-table .pagination>.active>span:hover {background:#f1651d; color:#fff; border-color:#f1651d;}

.paddLR0 {padding-left:0; padding-right:0;}

.pre-order ul {margin:0; padding:0;}
.pre-order ul li {list-style-type:none; padding:9px; border:1px solid #ccc; border-bottom:2px solid #f1651d; margin-bottom:9px;}
.pre-order ul li:last-child {margin-bottom:0;}
.pre-order .pre-details h4 {font-family:'Archivo Narrow', sans-serif; font-size:13px; margin-bottom:6px; margin-top:0;}
.pre-order .pre-details .btn-warning {float:right; font-size:14px; border-radius:0; font-family:'Archivo Narrow', sans-serif; letter-spacing:0.6px; width:100%;}
.pre-border {/*background:#efefef;*/ margin:12px 0; float:right; /*padding:9px; border:1px solid #ccc;*/ color:#000; font-family:'Archivo Narrow', sans-serif;}
.pre-border h5, p {margin:0;}
.shorting-area .btn-success {width:100%; border-radius:0; font-family:'Archivo Narrow', sans-serif; font-size:16px; letter-spacing:1px;}
.pre-order .pre-border .btn-warning {float:right; font-size:12px; border-radius:0; font-family:'Archivo Narrow', sans-serif; letter-spacing:0.6px;     padding-left:6px; padding-right:6px; padding-top:3px; padding-bottom:3px;}
.img-thumbnail {padding:0; border-radius:0; border:0;}
.pre-order h5 {margin-top:6px; margin-bottom:19px; text-align:left; font-family:'Archivo Narrow', sans-serif; color:#f1651d;}
.pre-order .pre-border .btn-warning:focus {box-shadow:none; outline:0;}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {padding:5px 6px; font-size:12px;}
.panel-heading .btn {float:right; margin:0; border-radius:0;}
.add-padding .panel-heading {padding-top:6px; padding-bottom:6px;}
.add-padding .panel-title {margin-top:9px;}

.sidenavR {width:100% !important; margin-bottom:16px;  position:relative; right:0; top:0; transition:.5s; width:0;}
.filter-right  {height:auto; background-color:#111; padding-top:14px; width:100%; float:none; margin-top:0; position:relative; margin-right:31px;}
.sidenavR a {color:#818181;display:block;font-size:25px;padding:8px 8px 8px 32px;text-decoration:none;transition:.3s;}
.sidenavR a:hover,.offcanvas a:focus {color:#f1f1f1;}
.sidenavR .closebtn {font-size:16px; margin-left:0; position:absolute; right:0; top:0; color:#fff; padding:3px; width:26px; height:26px; text-align:center;
line-height:19px; background:#f1651d;}
.filter-area {padding:9px 26px;}
.filter-area .form-control {border-radius:0; outline:none; box-shadow:none;}
.filter-area .btn-success {width:100%; border-radius:0; font-family:'Archivo Narrow', sans-serif; padding:5px; font-size:16px; color:#fff; letter-spacing:1px;}
.filter-area h5 {position:absolute; top:0; color:#fff; font-size:19px; padding:14px 16px;}

.quotation-pop .modal-dialog {padding-top:96px; border-radius:0;}
.quotation-pop .modal-content {border-radius:0;}
.quotation-pop .modal-header {background:#f1651d; color:#fff; font-family: 'Archivo Narrow', sans-serif;}
.quotation-pop .modal-header .close {color:#fff; outline:none; text-shadow:none; opacity:1; } 
.quotation-pop .modal-footer {border:0; border-bottom:4px solid #f1651d; padding:6px;}
.quotation-pop .modal-body {padding:16px 26px;}
.quotation-pop .pup-btn {background:#000; display:block; width:199px; margin: auto; padding:12px; font-size:16px; text-align:center; 
margin-top:26px; font-family:'Archivo Narrow', sans-serif; color:#fff;}
.quotation-pop .pup-btn:hover {background:#F90; text-decoration:none;}
.quotation-pop .form-control {border-radius:0; box-shadow:none; border:1px solid #ccc;}
.quotation-pop .form-control:focus {border-radius:0; box-shadow:none;}
.form-control {margin-bottom:21px;}
.pricechange h4 {margin-top:0; text-align:center; font-family:'Archivo Narrow', sans-serif; border-bottom:1px dotted #ccc; padding-bottom:16px; margin-bottom:26px;}

.picture {}
.picture a.small, .picture a.small:visited {}
.picture a img {border:0;}
.picture a.small:hover {text-decoration:none; background-color:#000000; color:#000000;}
.picture a .large {display:block; position:absolute; width:0; height:0; border:0; top:0; left:0;}
.picture a.small:hover .large {display:block; background:#fff; padding:6px; border:1px solid #ccc; position:absolute; top:149px; left:199px; width:299px; height:299px; }

.create-support .pup-btn {background:#000; display:block; width:199px; margin: auto; padding:12px; font-size:16px; text-align:center; 
margin-top:16px; margin-bottom:19px; font-family:'Archivo Narrow', sans-serif; color:#fff;}
.create-support .pup-btn:hover {background:#bd5018; text-decoration:none;}

.pricechange h5 {font-weight:200;}
.pricechange h5 strong {color:#000}

.shiment-border {background:#fffaf2; border-top:2px dotted #dadada; border-bottom:2px dotted #dadada; letter-spacing:4px; margin-top:12px; margin-bottom:3px;}
.shiment-border h4 {font-family: 'Archivo Narrow', sans-serif; font-size:16px; letter-spacing:normal;}

.accept-area .btn {float:right; top:0px !important; border-radius:0; font-family:'Archivo Narrow', sans-serif; text-transform:uppercase; letter-spacing:0.6px; 
display:block; width:100%; margin-top:3px; font-size:11px; padding-left:2px; padding-right:2px;}

.dash-left .panel-heading {padding-top:0px; padding-bottom:0px;}
.dash-left .panel-title {padding-top:7px; font-size:13px; font-family:'Archivo Narrow', sans-serif;}
.dash-left .urj-btn {background:#f1651d; color:#fff; padding: 6px 16px; font-family:'Archivo Narrow', sans-serif;}
.dash-left .urj-btn:hover {text-decoration:none; background:#000;}
.dash-left ul li {background:#fff; border-color:#fff; border-bottom:2px solid #f1651d; padding:0; padding-bottom:6px;}
.dash-left ul li h4 {margin-top:0;}
.dash-left h5 {color:#f1651d; font-size:11px;}
.span-right .btn {border-radius:0;}
.view-table .btn {border-radius:0; padding:1px 9px; font-size:12px;}
.details-dash .btn {border-radius:0; margin-left:6px; font-size:10px; letter-spacing:0.6px; padding:0px 3px;}
.details-dash a:hover {text-decoration:none;}

.custome-table hr {margin-top:9px; margin-bottom:9px;}

.dropdown-menu .selected {background:#fff; padding-top:9px; padding-bottom:9px; margin-bottom:6px; border-bottom:0px solid #f1651d;}
.dropdown-menu {padding-top:0;}
.dropdown-menu>li>a {padding-top:6px; padding-bottom:6px;}

.tooltip-inner {max-width:auto !important; width:auto !important;}

.details-pop .modal-dialog {width:900px;}

.report-area h3 {font-family:'Archivo Narrow', sans-serif; color:#f1651d; font-size:19px;}
.report-area p {text-align:justify;}

.last-area {width:199px;}
.form-control {border-radius:0; box-shadow:none; border:1px solid #ccc; font-size:12px;}
.right-addon {position:relative;}
.right-addon .glyphicon {position:absolute; top:9px; right:9px; color:#adadad;}

.git-table .table>tbody>tr>td, .git-table .table>tbody>tr>th, 
.git-table .table>tfoot>tr>td, .git-table .table>tfoot>tr>th, 
.git-table .table>thead>tr>td, .git-table .table>thead>tr>th {padding:8px 6px;}

.list-filter {padding:9px 9px;}
.list-filter .closebtn {width:16px; height:16px; line-height:12px;}
.list-filter .col-sm-2 {padding-left:3px; padding-right:3px;}
.list-filter .btn-select .btn-select-value {font-size:12px; padding:8px 12px;}

.custome-table .btn-full {width:100%; font-size:11px; text-transform:uppercase;}

.margin-center {margin:auto; float:none;}

.add-rfq .width-small {width:100%; margin:auto; text-align:center; display:block; margin-bottom:0; }
.rfq-area {width:66%; margin:auto;}
.custom-picker {border-radius:0 !important; width:100%  !important;}
.add-rfq .btn {border-radius:0 !important; font-family:'Archivo Narrow', sans-serif; font-size:15px; padding:5px 12px;} 
.bootstrap-select.btn-group .dropdown-menu {width:100%;}
.bootstrap-select.btn-group .dropdown-menu>li>a {padding:3px 9px; font-family:'Archivo Narrow', sans-serif;}
.marginB0 {margin-bottom:0 !important;}
.width-mid {width:186px;}
.width-last {width:346px;} 
.width-lastB {width:166px;} 
.btn-warning2 {background:#333; color:#fff;}
.btn-warning2:hover, .btn-warning2:focus {background:#666; color:#fff; outline:0;}

.comments-area .col-md-2, .col-md-10 {padding:0;}
.comments-area .panel {margin-bottom:0px;}

.chat_window {position:relative;}
.comments-area * {box-sizing:border-box;}

.chat_window {overflow:hidden;}

.top_menu {
  background-color: #fff;
  width: 100%;
  padding: 20px 0 15px;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}
.top_menu .buttons {
  margin: 3px 0 0 20px;
  position: absolute;
}
.top_menu .buttons .button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  position: relative;
}
.top_menu .buttons .button.close {
  background-color: #f5886e;
}
.top_menu .buttons .button.minimize {
  background-color: #fdbf68;
}
.top_menu .buttons .button.maximize {
  background-color: #a3d063;
}
.top_menu .title {
  text-align: center;
  color: #bcbdc0;
  font-size: 20px;
}

.messages {
  position: relative;
  list-style: none;
  padding: 20px 10px 0 10px;
  margin: 0;
  height:600px;
  overflow: auto;
}
.messages .message {
  clear: both;
  overflow: hidden;
  margin-bottom: 20px;
  transition: all 0.5s linear;
  opacity: 0;
}
.messages .message.left .avatar {
  background-color: #f5886e;
  float: left;
}
.messages .message.left .text_wrapper {
  background-color: #ffe6cb;
  margin-left: 20px;
}
.messages .message.left .text_wrapper::after, .messages .message.left .text_wrapper::before {
  right: 100%;
  border-right-color: #ffe6cb;
}
.messages .message.left .text {
  color: #c48843;
}
.messages .message.right .avatar {
  background-color: #fdbf68;
  float: right;
}
.messages .message.right .text_wrapper {
  background-color: #c7eafc;
  margin-right: 20px;
  float: right;
}
.messages .message.right .text_wrapper::after, .messages .message.right .text_wrapper::before {
  left: 100%;
  border-left-color: #c7eafc;
}
.messages .message.right .text {
  color: #45829b;
}
.messages .message.appeared {
  opacity: 1;
}
.messages .message .avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
}
.messages .message .text_wrapper {
  display: inline-block;
  padding:12px 16px;
  border-radius: 6px;
  width: calc(100% - 85px);
  min-width: 100px;
  position: relative;
}
.messages .message .text_wrapper::after, .messages .message .text_wrapper:before {
  top: 16px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.messages .message .text_wrapper::after {
  border-width:6px;
  margin-top: 0px;
}
.messages .message .text_wrapper::before {
  border-width:9px;
  margin-top: -2px;
}
.messages .message .text_wrapper .text {
  font-size: 15px;
  font-weight: 300;
}

.bottom_wrapper {
  position: relative;
  width: 100%;
  background-color: #fff;
  padding: 20px 20px;
  bottom: 0;
}
.bottom_wrapper .message_input_wrapper {
  display: inline-block;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #bcbdc0;
  width: calc(100% - 160px);
  position: relative;
  padding: 0 20px;
}
.bottom_wrapper .message_input_wrapper .message_input {
  border: none;
  height: 100%;
  box-sizing: border-box;
  width: calc(100% - 40px);
  position: absolute;
  outline-width: 0;
  color: gray;
}
.bottom_wrapper .send_message {
  width: 140px;
  height: 50px;
  display: inline-block;
  border-radius: 50px;
  background-color: #f1651d;
  border: 2px solid #f1651d;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
  text-align: center;
  float: right;
}
.bottom_wrapper .send_message:hover {
  color: #f1651d;
  background-color: #fff;
}
.bottom_wrapper .send_message .text {
  font-size: 18px;
  font-weight: 300;
  display: inline-block;
  line-height: 48px;
}

.message_template {
  display: none;
}


.comments-area .pup-btn {background:#000; display:block; width:199px; margin:auto; padding:12px; font-size:16px; text-align:center;
margin-top:26px; font-family:'Archivo Narrow', sans-serif; color:#fff; text-transform:uppercase;}
.comments-area .pup-btn:hover {text-decoration:none; background:#F90;}
.create-support {padding:19px 36px;}

.panel-title {font-size:13px;}
.badge {font-size:10px;}

.dash-last {width:156px;}
.dash-last .btn {border-radius:0; margin-bottom:2px; padding:2px 3px; font-size:11px;}

/*--------------footer-area-start-----------------*/
footer {text-align:center; color:#CCC; padding:16px 0; background:#353535;}
footer p {margin:0;}

/*--------------responsive-start-----------------*/
@media(min-width:768px) {
.rfq-filter {padding:9px 6px; text-align:center;}
.rfq-filter .col-sm-2 {width:12.2%; padding:0 6px;}
.side-nav {position:fixed; top:51px; left:225px; width:225px; margin-left:-225px; border:none; border-radius:0; overflow-y:auto; background-color:#222;
bottom:0; overflow-x:hidden; padding-bottom:40px;}
.side-nav>li>a {width:225px;}
.side-nav li a:hover, .side-nav li a:focus {outline:none; background-color:#000 !important;}
.small-width {width:19%;}
}

@media screen and (min-width:768px) and (max-width:1232px) {
.inner-top .col-sm-7 {width:100%; border-top:1px solid #de4924;}
.inner-top .col-sm-2 {position:absolute; right:0; width:36%;}
.inner-top .col-sm-3 {width:46%;}
.inner-body-area .title-top {margin-top:136px;}
.pre-order .pre-details h4 {font-size:12px;}
.accept-area .btn {letter-spacing: -0.4px; font-size:11px;}
.details-pop .modal-dialog {width:96%; margin: auto; margin-top:2px; padding-top:12px;}
.inner-body-area {margin-top:139px;}

.dash-left .paddingR {padding-left:0;}
.custome-table .table > tbody > tr > td, .custome-table .table > tbody > tr > th, .custome-table .table > tfoot > tr > td, .custome-table .table > tfoot > tr > th, .custome-table .table > thead > tr > td, .table > thead > tr > th {padding:4px 3px;}
.vendor-filter .col-sm-3, .vendor-filter .col-sm-5 {width:50%;}
.purchase-filter {width:40%;}
.width-last {width:179px;}
.width-last .btn {margin-bottom:4px;}
.select-full {width:100%;}
}

@media(max-width:767px) {
.screen-login .login-form {width:90%; margin-top:19%;}
.screen-login .head img {width:26%;}
.pre-details .col-sm-4 {width:30%; float:left; padding-right:0;}
.pre-details .col-sm-8 {width:70%; float:left;}
.accept-area .btn {width:46%; float:none; display:inline-block; margin-left:6px; margin-right:6px;}
.accept-area {text-align:center;}
.dash-left .panel-title {text-align:center;}
.quotation-pop .modal-dialog {padding-top:2px;}
.details-pop .modal-dialog {width:96%; margin: auto; margin-top:12px;}
header .navbar-inverse .navbar-nav > li {display:block; text-align:left; padding-left:16px; padding-right:16px;}
.inner-body-area .title-top {margin-top:136px; text-align:center;}
.inner-body-area {margin-top:139px;}
.inner-body-area .page-header .btn {float:none;}
.shorting-area .pull-right {float:none !important;} 
.rfq-area {width:100%;}
.dataTables_info {text-align:center; margin-bottom:12px;}
.filter-area .btn-select {margin-bottom:15px;}
.small-width {width:100%;} 
.bottom_wrapper .message_input_wrapper {width:100%;}
.bottom_wrapper .send_message {width:100%;}
.messages {height:299px;}
.comments-top .text-right {text-align:center;}
.pre-order .pre-details h4 {font-size:13px;}
.custome-table .pull-right {float:none !important; text-align:center;}
header .navbar-inverse .navbar-nav > li > .dropdown-menu {position:relative; width:100%; float:none;} 
header .navbar-nav {margin:7.5px 0;}
header .main-menu .dropdown:hover .dropdown-menu {display:block; margin-top:0; background-color:transparent; box-shadow:none; border:0 !important;}
footer {padding-left:15px; padding-right:15px;}
.screen-login .login-form {width:86%;} 
.screen-login .copy-right p {padding-left:15px; padding-right:15px; width:89%; margin:auto;}
.inner-body-area .page-header h1 {font-size:29px;}
.shorting-area .btn-success {margin-bottom:16px;}
.create-support {padding:15px 0;}
.add-padding .panel-title {margin-top:6px; margin-bottom:16px;}
.shorting-area .pull-right {float:right !important; width:50%;}
.add-rfq .col-sm-5 {width:42%; float:left;}
.add-rfq .col-sm-2 {width:16%; float:left;}
.add-padding .col-sm-6 {width:50%; float:left;}
.shorting-area .btn-success {margin-bottom:0;}
.shorting-area .select-full {width:100%; padding-right:0;}
.comments-top .col-sm-6 {width:50% !important; float:left !important;}
}

@media(max-width:500px) {
.accept-area .btn {/*width:100%;*/ margin-left:0px; margin-right:0px;}
.dash-left .pull-left, .dash-left .pull-right {float:none !important; text-align:center;} 
.shorting-area .pull-right {float:none !important; width:100%;}
.add-rfq .col-sm-5 {width:100%; float:left;}
.add-rfq .col-sm-2 {width:100%; float:left;}
.add-padding .col-sm-6 {width:100%; float:left;} 
.shorting-area .btn-success {margin-bottom:12px;} 	
}







