
.invoice-box {
	max-width: 800px;
	margin: auto;
	padding: 30px;
	border: 1px solid #eee;
	box-shadow: 0 0 10px rgba(0, 0, 0, .15);
	font-size: 16px;
	line-height: 24px;
	font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
	color: #555;
}
.invoice-box table {
	width: 100%;
	line-height: inherit;
	text-align: left;
	font-size: 15px;
}
.invoice-box table td {
	padding: 9px 12px;
	vertical-align: middle;
}
.invoice-box table tr td {
	text-align: right;
}
.invoice-box table tr td:first-child {
	text-align: left;
}
.invoice-box table tr.top table td {
	padding-bottom: 20px;
}
.invoice-box table tr.top table td.title {
	font-size: 45px;
	line-height: 45px;
	color: #333;
}
.invoice-box table tr.information table td {
	padding-bottom: 40px;
}
.invoice-box table tr.heading td {
	font-size: 15px;
	background: #eee;
	border-bottom: 1px solid #ddd;
	font-weight: bold;
}
.invoice-box table tr.details td {
	padding-bottom: 20px;
}
.invoice-box table tr.item td {
	border-bottom: 1px solid #eee;
	font-size: 14px;
}
.invoice-box table tr.item.last td {
	border-bottom: none;
}
.invoice-box table tr.total td:nth-child(2) {
	border-top: 2px solid #eee;
	font-weight: bold;
}
hr {
	width: 100%;
	height: 1px;
	background: #CCC;
	margin-top: 12px;
	border: 0;
}
 @media only screen and (max-width:600px) {
.invoice-box table tr.top table td {
	width: 100%;
	display: block;
	text-align: center;
}
.invoice-box table tr.information table td {
	width: 100%;
	display: block;
	text-align: center;
}
}